# Most_Valuable_Player_Awards

In [1]:
import requests
import os
import shutil

In [2]:
# Créer le dossier 'mvp' s'il n'existe pas
if not os.path.exists("mvp"):
    os.makedirs("mvp")

In [3]:
years = list(range(1991, 2025))
url_start = "https://www.basketball-reference.com/awards/awards_{}.html"

In [4]:
# Télécharger et sauvegarder les pages HTML
for year in years:
    url = url_start.format(year)
    data = requests.get(url)
    # Utilisation de l'encodage 'utf-8' pour écrire les fichiers
    with open(f"mvp/{year}.html", "w+", encoding="utf-8") as f:
        f.write(data.text)

print("Téléchargement terminé, fichiers sauvegardés dans le dossier 'mvp'.")

Téléchargement terminé, fichiers sauvegardés dans le dossier 'mvp'.

In [5]:
from bs4 import BeautifulSoup

In [6]:
# Ouvrir le fichier HTML en spécifiant l'encodage 'utf-8'
with open("mvp/1991.html", encoding="utf-8") as f:
    page = f.read()

# Analyser la page HTML avec BeautifulSoup
soup = BeautifulSoup(page, 'html.parser')

# Supprimer l'élément avec la classe "over_header"
soup.find('tr', class_="over_header").decompose()

In [7]:
mvp_table = soup.find_all(id="mvp")[0]

In [8]:
import pandas as pd

In [9]:
mvp_1991 = pd.read_html(str(mvp_table))[0]

In [10]:
mvp_1991.head(1)

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,PTS,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48
0,1,Michael Jordan,27,CHI,77,891,960,0.928,82,37.0,31.5,6.0,5.5,2.7,1.0,0.539,0.312,0.851,20.3,0.321

In [11]:
mvp_1991["Year"] = 1991

In [12]:
mvp_1991.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
0,1,Michael Jordan,27,CHI,77,891,960,0.928,82,37.0,...,6.0,5.5,2.7,1.0,0.539,0.312,0.851,20.3,0.321,1991
1,2,Magic Johnson,31,LAL,10,497,960,0.518,79,37.1,...,7.0,12.5,1.3,0.2,0.477,0.320,0.906,15.4,0.251,1991
2,3,David Robinson,25,SAS,6,476,960,0.496,82,37.7,...,13.0,2.5,1.5,3.9,0.552,0.143,0.762,17.0,0.264,1991
3,4,Charles Barkley,27,PHI,2,222,960,0.231,67,37.3,...,10.1,4.2,1.6,0.5,0.570,0.284,0.722,13.4,0.258,1991
4,5,Karl Malone,27,UTA,0,142,960,0.148,82,40.3,...,11.8,3.3,1.1,1.0,0.527,0.286,0.770,15.5,0.225,1991

In [14]:
dfs = []
for year in years:
    # Ouvrir le fichier HTML en spécifiant l'encodage 'utf-8'
    with open(f"mvp/{year}.html", encoding="utf-8") as f:
        page = f.read()

    # Analyser la page HTML avec BeautifulSoup
    soup = BeautifulSoup(page, 'html.parser')

    # Supprimer l'élément avec la classe "over_header"
    soup.find('tr', class_="over_header").decompose()

    # Extraire la table contenant les MVP
    mvp_table = soup.find_all(id="mvp")[0]

    # Convertir la table en DataFrame
    mvp_df = pd.read_html(str(mvp_table))[0]

    # Ajouter la colonne 'Year'
    mvp_df["Year"] = year

    # Ajouter le DataFrame à la liste
    dfs.append(mvp_df)

# Combine all dataframes into one
mvp_all_years_df = pd.concat(dfs, ignore_index=True)

# Afficher les premières lignes du DataFrame combiné
print(mvp_all_years_df.head())

AttributeError: 'NoneType' object has no attribute 'decompose'

In [16]:
mvps = pd.concat(dfs)

mvps.tail()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
8,9,Stephen Curry,34,GSW,0,5,1000,0.005,56,34.7,...,6.1,6.3,0.9,0.4,0.493,0.427,0.915,7.8,0.192,2023
9,10,Jimmy Butler,33,MIA,0,3,1000,0.003,64,33.4,...,5.9,5.3,1.8,0.3,0.539,0.350,0.850,12.3,0.277,2023
10,11,De'Aaron Fox,25,SAC,0,2,1000,0.002,73,33.4,...,4.2,6.1,1.1,0.3,0.512,0.324,0.780,7.4,0.146,2023
11,12T,Jalen Brunson,26,NYK,0,1,1000,0.001,68,35.0,...,3.5,6.2,0.9,0.2,0.491,0.416,0.829,8.7,0.175,2023
12,12T,Ja Morant,23,MEM,0,1,1000,0.001,61,31.9,...,5.9,8.1,1.1,0.3,0.466,0.307,0.748,6.0,0.148,2023

In [17]:
mvps.to_csv("mvps_awards.csv")

# NBA Player Stats: Per Game

In [19]:
import os
import requests

# Créer le dossier 'player' s'il n'existe pas
if not os.path.exists("player"):
    os.makedirs("player")

player_stats_url = "https://www.basketball-reference.com/leagues/NBA_{}_per_game.html"

for year in years:
    url = player_stats_url.format(year)
    
    data = requests.get(url)
    
    # Enregistrer la page HTML dans le dossier 'player'
    with open(f"player/{year}.html", "w+", encoding="utf-8") as f:
        f.write(data.text)

print("Téléchargement terminé, fichiers sauvegardés dans le dossier 'player'.")

Téléchargement terminé, fichiers sauvegardés dans le dossier 'player'.

In [20]:
! pip install selenium

Requirement already satisfied: selenium in c:\users\21654\anaconda3\ana\lib\site-packages (4.27.1)
Requirement already satisfied: trio~=0.17 in c:\users\21654\anaconda3\ana\lib\site-packages (from selenium) (0.27.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\21654\anaconda3\ana\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: typing_extensions~=4.9 in c:\users\21654\anaconda3\ana\lib\site-packages (from selenium) (4.12.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\21654\anaconda3\ana\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\21654\anaconda3\ana\lib\site-packages (from selenium) (2024.8.30)
Requirement already satisfied: websocket-client~=1.8 in c:\users\21654\anaconda3\ana\lib\site-packages (from selenium) (1.8.0)
Requirement already satisfied: exceptiongroup in c:\users\21654\anaconda3\ana\lib\site-packages (from trio~=0.17->selenium) (1.2.2)
Requirement already satisfied: sortedcontainers in c:\users\21654\anaconda3\ana\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: idna in c:\users\21654\anaconda3\ana\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: attrs>=23.2.0 in c:\users\21654\anaconda3\ana\lib\site-packages (from trio~=0.17->selenium) (24.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\21654\anaconda3\ana\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: outcome in c:\users\21654\anaconda3\ana\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\21654\anaconda3\ana\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: pycparser in c:\users\21654\anaconda3\ana\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\21654\anaconda3\ana\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\21654\anaconda3\ana\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\21654\anaconda3\ana\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [21]:
import os
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time

# install selenium chrome driver from https://chromedriver.chromium.org/downloads
# xattr -d com.apple.quarantine chromedriver

In [22]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service

# Spécifiez le chemin correct vers chromedriver.exe
service = Service("C:/Users/21654/Desktop/chromedriver-win64/chromedriver-win64/chromedriver.exe")

# Initialisez le WebDriver avec le service
driver = webdriver.Chrome(service=service)

# Exemple : Ouvrir une page Web
driver.get("https://www.google.com")



print("Navigateur lancé avec succès !")

Navigateur lancé avec succès !

In [ ]:
for year in years:
    url = player_stats_url.format(year)
    
    try:
        driver.get(url)
        driver.execute_script("window.scrollTo(1,10000)")
        time.sleep(2)
        
        # Sauvegarder la page
        with open(f"player/{year}.html", "w+", encoding="utf-8") as f:
            f.write(driver.page_source)
        print(f"Page pour l'année {year} sauvegardée avec succès.")
    
    except Exception as e:
        print(f"Erreur pour l'année {year}: {e}")
        continue

Page pour l'année 1991 sauvegardée avec succès.
Page pour l'année 1992 sauvegardée avec succès.
Page pour l'année 1993 sauvegardée avec succès.
Erreur pour l'année 1994: HTTPConnectionPool(host='localhost', port=55282): Read timed out. (read timeout=120)

In [ ]:
dfs = []
for year in years:
    with open(f"player/{year}.html", encoding="utf-8") as f:  # Spécifiez l'encodage
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    
    # Supprimer l'en-tête redondant si présent
    if soup.find('tr', class_="thead"):
        soup.find('tr', class_="thead").decompose()
    
    # Extraire le tableau des statistiques
    player_table = soup.find(id="per_game_stats")
    if player_table:
        player_df = pd.read_html(str(player_table))[0]
        player_df["Year"] = year
        dfs.append(player_df)
    else:
        print(f"Aucun tableau trouvé pour l'année {year}.")

In [ ]:
players = pd.concat(dfs)

In [ ]:
players

In [ ]:
players.head()

In [ ]:
players.to_csv("players_Stats.csv")

# Teams_Stats

In [30]:
team_stats_url = "https://www.basketball-reference.com/leagues/NBA_{}_standings.html"

In [32]:
# Créer le répertoire "team" s'il n'existe pas
os.makedirs("team", exist_ok=True)

for year in years:
    url = team_stats_url.format(year)
    
    data = requests.get(url)
    
    # Sauvegarder le contenu dans un fichier HTML
    with open(f"team/{year}.html", "w+", encoding="utf-8") as f:
        f.write(data.text)
    print(f"Page pour l'année {year} sauvegardée avec succès.")

Page pour l'année 1991 sauvegardée avec succès.
Page pour l'année 1992 sauvegardée avec succès.
Page pour l'année 1993 sauvegardée avec succès.
Page pour l'année 1994 sauvegardée avec succès.
Page pour l'année 1995 sauvegardée avec succès.
Page pour l'année 1996 sauvegardée avec succès.
Page pour l'année 1997 sauvegardée avec succès.
Page pour l'année 1998 sauvegardée avec succès.
Page pour l'année 1999 sauvegardée avec succès.
Page pour l'année 2000 sauvegardée avec succès.
Page pour l'année 2001 sauvegardée avec succès.
Page pour l'année 2002 sauvegardée avec succès.
Page pour l'année 2003 sauvegardée avec succès.
Page pour l'année 2004 sauvegardée avec succès.
Page pour l'année 2005 sauvegardée avec succès.
Page pour l'année 2006 sauvegardée avec succès.
Page pour l'année 2007 sauvegardée avec succès.
Page pour l'année 2008 sauvegardée avec succès.
Page pour l'année 2009 sauvegardée avec succès.
Page pour l'année 2010 sauvegardée avec succès.
Page pour l'année 2011 sauvegardée avec succès.
Page pour l'année 2012 sauvegardée avec succès.
Page pour l'année 2013 sauvegardée avec succès.
Page pour l'année 2014 sauvegardée avec succès.
Page pour l'année 2015 sauvegardée avec succès.
Page pour l'année 2016 sauvegardée avec succès.
Page pour l'année 2017 sauvegardée avec succès.
Page pour l'année 2018 sauvegardée avec succès.
Page pour l'année 2019 sauvegardée avec succès.
Page pour l'année 2020 sauvegardée avec succès.
Page pour l'année 2021 sauvegardée avec succès.
Page pour l'année 2022 sauvegardée avec succès.
Page pour l'année 2023 sauvegardée avec succès.
Page pour l'année 2024 sauvegardée avec succès.

In [36]:
dfs = []
for year in years:
    with open("team/{}.html".format(year), encoding="utf-8") as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    
    # Vérification si l'élément avec la classe "thead" existe
    thead = soup.find('tr', class_="thead")
    if thead:
        thead.decompose()  # Supprimer l'élément si trouvé
    
    # Extraire les tableaux des conférences Est et Ouest avec vérification
    e_table = soup.find_all(id="divs_standings_E")
    if e_table:
        e_df = pd.read_html(str(e_table[0]))[0]
        e_df["Year"] = year
        e_df["Team"] = e_df["Eastern Conference"]
        del e_df["Eastern Conference"]
        dfs.append(e_df)
    
    w_table = soup.find_all(id="divs_standings_W")
    if w_table:
        w_df = pd.read_html(str(w_table[0]))[0]
        w_df["Year"] = year
        w_df["Team"] = w_df["Western Conference"]
        del w_df["Western Conference"]
        dfs.append(w_df)

In [37]:
teams = pd.concat(dfs)

In [38]:
teams

     W   L  W/L%    GB   PS/G   PA/G    SRS  Year                  Team
0   56  26  .683     —  111.5  105.7   5.22  1991       Boston Celtics*
1   44  38  .537  12.0  105.4  105.6  -0.39  1991   Philadelphia 76ers*
2   39  43  .476  17.0  103.1  103.3  -0.43  1991      New York Knicks*
3   30  52  .366  26.0  101.4  106.4  -4.84  1991    Washington Bullets
4   26  56  .317  30.0  102.9  107.5  -4.53  1991       New Jersey Nets
..  ..  ..   ...   ...    ...    ...    ...   ...                   ...
13  51  31  .622     —  116.9  113.0   3.60  2023    Memphis Grizzlies*
14  42  40  .512   9.0  114.4  112.5   1.63  2023  New Orleans Pelicans
15  38  44  .463  13.0  114.2  114.1  -0.14  2023      Dallas Mavericks
16  22  60  .268  29.0  110.7  118.6  -7.62  2023       Houston Rockets
17  22  60  .268  29.0  113.0  123.1  -9.82  2023     San Antonio Spurs

[1103 rows x 9 columns]

In [39]:
teams.tail()

     W   L  W/L%    GB   PS/G   PA/G    SRS  Year                  Team
13  51  31  .622     —  116.9  113.0   3.60  2023    Memphis Grizzlies*
14  42  40  .512   9.0  114.4  112.5   1.63  2023  New Orleans Pelicans
15  38  44  .463  13.0  114.2  114.1  -0.14  2023      Dallas Mavericks
16  22  60  .268  29.0  110.7  118.6  -7.62  2023       Houston Rockets
17  22  60  .268  29.0  113.0  123.1  -9.82  2023     San Antonio Spurs

In [40]:
teams.head()

    W   L  W/L%    GB   PS/G   PA/G    SRS  Year                 Team
0  56  26  .683     —  111.5  105.7   5.22  1991      Boston Celtics*
1  44  38  .537  12.0  105.4  105.6  -0.39  1991  Philadelphia 76ers*
2  39  43  .476  17.0  103.1  103.3  -0.43  1991     New York Knicks*
3  30  52  .366  26.0  101.4  106.4  -4.84  1991   Washington Bullets
4  26  56  .317  30.0  102.9  107.5  -4.53  1991      New Jersey Nets

In [42]:
teams.to_csv("teams_Stats.csv")